*{font-family: 'Montserrat', sans-serif;

  font-size:16px}

  body{
    font-family: "Lato", sans-serif;
  }
  
  .sidebar-sx{
    width: 500px;
  background-color: #121212;
  }
  
  .tabella{
  
    color:white;
    height: 700px;
    overflow: auto;
  }
  
  thead{
    position: sticky;
    top: 0;
    background-color: #090a14;
  
  }
    table{
      width: 100%;
      overflow: auto;
      border-radius:20px;
  }
  tbody{
    background-color: #121212;
  
  }
  
  button> a{
    text-decoration: none;
    color:black;
  }
  

  .sidebar-retracted {
    width: 120px !important; /* Regola la larghezza desiderata quando la sidebar è retracted */
  }
  .sidebar-content{
    width: calc(100% - 3px);
  }
  
  
  /*Main*/  
  .container-fluid{display:flex;}
  
  .main{
      width: 100%;
      background-color: rgb(202, 202, 202);
      height: 100vh;
      overflow: auto;
  
  }
  .historyButton{
      background-color: #090a14;
      margin: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
  }
  .premium{
      background-color: #fff;
      margin-right: 5px;
      display: inline-block;
      padding: 2px 10px 8px 10px;
      height: 2em;
      border-radius: 20px;
      font-weight: bold;
  }
  .main-head-right-btn{
      background-color: rgba(9, 10, 20, 0.6);
      margin: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
  }
  
  .sponsored-playlist{
      background: rgb(9,10,20);
      background: linear-gradient(40deg, rgba(9,10,20,1) 34%, rgba(9,10,20,0) 91%);
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      height: 150px;
      padding: 5px;
      display: flex;
      color: #fff;
      .sponsored-playlist-photo{
          height: 100%;
          img{
              height: 100%;
          }
      }
  }
  
  .playlist-cards-container{
      height: 450px;
      overflow: hidden;
  }
  .card{
      margin-bottom: 300px;
  }  
  
  
  
  /* Sidebar dx */

.card-sidebar-dx {
  width: 100%;
}

.card-sidebar-dx-left {
  height: 60px;
  width: 60px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-sidebar-dx-right {
  width: 100px;
  height: 40px;
  span {
    height: 6px !important;
  }
}




.customSidebar {
  height: 100%;
  width: 350px;
  background-color: #111;
  flex-shrink: 0;
}

.customSidebarLink {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.customSidebarLink:hover {
  color: #f1f1f1;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openButton {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
  top: 20px;
  right: 20px;
}

.openButton:hover {
  background-color: #444;
}

#mainContent {
  transition: margin-right 0.5s;
  padding: 16px;
  margin-right: 250px;
}

@media screen and (max-height: 450px) {
  .customSidebar {
    padding-top: 15px;
  }

  .customSidebarLink {
    font-size: 18px;
  }
}

.sidebar-dx-content{
width: calc(100% - 3px);
}

// .bars-placeholder{
//   height: 10px;
//   color: grey;
//   width: 70px;
// }







// sidebar width control

.sidebar-sx-width-control{
  width: 1px;
  padding: 0 1px;
  height: 100%;
  // background-color: red;
  cursor: col-resize;
  &:hover{
    background-color: grey;
  }
}

.sidebar-dx-width-control{
  width: 1px;
  padding: 0 1x;
  height: 100%;
  // background-color: rgb(0, 255, 68);
  &:hover{
    background-color: grey;
  }
  cursor: col-resize;

}

.general-container{
  max-width: 100vw !important;
}